/* Ceci est une page CSS, un code de langage qui permet d'établir des élément de style et graphique dans votre site web */


/* Dans ce genre de fichier nous allons pouvoir parametrer les différents élément néccéssaire à l'aspect graphique du site web */


/* Ceci est une balise maitre "BODY" c'est une balise de base dans le HTML elle permet l'affichage et les parametre de toute la page web */

body {
    background: linear-gradient(0.25turn, blue, green 40%, red);
    height: 100vh;
}


/* Ceci est une "CLASSE CSS" on l'intégrer dans le code HTML afin de paramétrer les balises HTML du site */

.logo1 {
    width: 25%;
    display: flex;
    justify-content: center;
}

.logo1 img {
    /* definissez la largeur du logo 1 à 80% avec la propriété width */
}

.logo2 {
    display: flex;
    width: 25%;
    justify-content: center;
}

.logo2 img {
    /* definissez la largeur du logo 2 à 40% avec la propriété width */
}

/* La balise H1 est une balise de base, lorque l'on y intégrer des propriétés, toute les balises H1 du site auront ces propriétés, c'est de l'héritage */
h1 {
    /* border: solid 1px;
    border-radius: 10px;
    padding: 15px;
    margin: 0px;
    background-color: white; */
}

.containerPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.containerText {
    display: flex;
    width: 40%;
    flex-direction: column;
    border: solid 1px;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: white;
    color: red;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: green;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

iframe {
    border-radius: 10px;
}

.VignettePresentationEquipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AffichageEquipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.VignettePersonnage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: white;
}

.VignettePersonnage img {
    width: 150px;
}